#main
{background-color: #33ffff;}

#text
{
    border: 5px solid;
    padding: 30px;
    border-radius: 10px;
    background-color: #fa6dfc;
    width: 60%;
    margin: 0 auto;
}

h1{
    line-height: .7;
    margin: 0;
    padding: 0px;
    font-family: 'Koulen', cursive;
    font-family: 'Rubik', sans-serif;
    font-family: 'Tapestry', cursive;
    font-size: 6em;
}

#addBook
{
    background-color: #cdcdcd;
    display: block;
    border: double 3px #090909;

    margin-top: 8px;
}

label
{
    font-family: 'Koulen', cursive;
    font-family: 'Rubik', sans-serif;
    font-family: 'Tapestry', cursive;
    font-size: 2em;
    font-weight: bold;
}

a{
    font-family: 'Koulen', cursive;
    font-family: 'Rubik', sans-serif;
    font-family: 'Tapestry', cursive;
    font-size: 2em;
    padding: 0px;
    margin:0;
    color: #0000b3;
}

a:visited
{
    color: #a200b3;
}

select
{
    background-color: #c4c4c4;
    border-radius:3px;
    font-size: 1.5em;
}

.btn
{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.btn:active
{
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
}

#remove
{
    background-color: #de1031;
}

